h1{
    text-align: center;
}

.akanlistgen {
    background-color: burlywood;
    padding: 15px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#akanName {
    color: black;
    background-color: green;
}